:root {
  --fontFamily: Arial, Helvetica, sans-serif;
  --mainViolet: darkviolet;
  --mainLightViolet: violet;
}

/* In order to add footer at the bottom */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--fontFamily);
  width: 100%;
}
.content-wrap {
  flex: 1;
}
.container {
  padding-top: 1rem;
}
/* For header of each page*/
.headerTitle {
  text-align: center;
}
/*for react-router-dom Link */
.link {
  color: darkviolet;
}
.link:hover {
  color: violet;
}
/*for jumbotorn*/
.jumbotron {
  background: url("./assets/Images/beach.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* for card button of purplecircles.js*/
.btn-outline-dark {
  border-color: darkviolet;
  text-align: center;
}
.btn-outline-dark:hover {
  background-color: violet;
}
.content {
  padding: 1rem;
}
.content.imgBg {
  background-size: cover;
  background-position: center center;
}

.contentBlock {
  position: absolute;
  margin-top: 20%;
  margin-left: -10%;
  background-color: #ffffff;
  padding: 30px;
  min-height: auto;
  width: auto;
  color: darkviolet;
  float: left;
}
