:root {
  --fontFamily: Arial, Helvetica, sans-serif;
  --mainViolet: darkviolet;
  --mainLightViolet: violet;
}

/* To stick footer at the bottom of the page*/
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--fontFamily);
  width: 100%;
}
.content-wrap {
  flex: 1;
}
/* for space between div containers*/
.container {
  padding-top: 1rem;
}
/* For header of each page*/
.headerTitle {
  text-align: center;
}
/**/
.center-fit {
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}
/*for react-router-dom Link */
.link {
  color: darkviolet;
}
.link:hover {
  color: violet;
}
/*for jumbotorn*/
.jumbotron {
  background: url("./assets/Images/beach.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
/*for Typography Overlay Image in purplecircles.js*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: 0 auto;
}
.img-fluid,
.grid-content {
  grid-row: 1/2;
  align-self: center;
}
.img-fluid {
  grid-column: 2/-1;
}
.grid-content {
  grid-column: 1/3;
  background: white;
  padding: 2rem;
  color: blueviolet;
}
.grid-caption {
  grid-column: 2/-1;
}
